body {
    width: auto;
    margin: 0 auto;
    padding: 100px 0;

    font-family: 'Times New Roman';
    font-style: normal;
    font-variant: normal;
}
h1,
h2,
h3,
h4 {

    color: orange;
    font-weight: normal;
    text-align: center;

    color: orange;
    font-weight: normal;

    color: orange;
    font-weight: normal;
    
    text-align: center;
}
h1 {
    font-weight: bold;
    font-size: medium;
}
h2 {
    font-size: medium;
}
h3 {
    font-size: medium;
}
h4 {
    font-size: medium;
}
p {
    color: grey;
    text-align: justify;
    font-size: small
}

.Ancient.html {
    p {
        color: grey;
        text-align: justify;
        font-size: small;
    };

}

.Anubis.html {
    p {
        color: grey;
        text-align: justify;
        font-size: small;
    };
}

.Inferno.html {
    p {
        color: grey;
        text-align: justify;
        font-size: small;
    };
}

.Mirage.html {
    p {
        color: grey;
        text-align: justify;
        font-size: small;
    };
}

.Nuke.html {
    p {
        color: grey;
        text-align: justify;
        font-size: small;
    };
}

.Overpass.html {
    p {
        color: grey;
        text-align: justify;
        font-size: small;
    };
}

.Vertigo.html {
    p {
        color: grey;
        text-align: justify;
        font-size: small;
    }
}