body {
    width: auto
    
}
h1,
h2,
h3,
h4 {
<<<<<<< HEAD
    color: orange;
    font-weight: normal;
=======
    color: orange;
    font-weight normal
>>>>>>> d20875e (new commit)
    text-align: center
}
h1 {
    font-weight: bold;
    font-size: medium;
}
h2 {
    font-size: medium;
}
h3 {
    font-size: medium;
}
h4 {
    font-size: medium;
}
p {
    color: grey;
    text-align: justify;
    font-size: small
}